<div class="one-activity-component">
  <div class="icon-activity"> 
    <svg width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Canvas" fill="none"><g id="Group"> <g id="Ellipse4"><circle cx="20" cy="20" r="20" /> </g><g id="Bell"> <g id="Combined Shape"><path fill-rule="evenodd" clip-rule="evenodd" d="M 3.00213 19C 1.34494 19 0 17.6554 0 16C 0 14.9012 0.594918 13.9219 1.50422 13.3989C 1.50422 13.0954 1.5 9.49859 1.5 9.49859C 1.5 6.0431 3.8197 3.13386 7 2.26473C 7 2.26473 7 2.08975 7 2C 7 0.89543 7.89543 0 9 0C 10.1046 0 11 0.89543 11 2C 11 2.0897 11 2.26473 11 2.26473C 14.181 3.13368 16.5 6.04318 16.5 9.5038L 16.5 13.4076C 17.4104 13.9331 18 14.9084 18 16C 18 17.6576 16.657 19 14.9979 19L 12 19C 11.9983 20.6571 10.6524 22 9 22C 7.34315 22 6 20.6582 6 19.0021L 3.00213 19ZM 8 19C 8 19.5532 8.44721 20 9 20C 9.54892 20 9.9983 19.5515 10 19L 8 19ZM 14.5 14.3361L 14.5 9.5038C 14.5 6.46073 12.0394 4 9 4C 5.96189 4 3.5 6.46156 3.5 9.49859L 3.5 14.3361C 3.5 14.6158 3.28524 14.8937 3.02032 14.9619L 2.74931 15.0317C 2.3115 15.1444 2 15.5409 2 16C 2 16.5507 2.44938 17 3.00213 17L 14.9979 17C 15.5526 17 16 16.5528 16 16C 16 15.5429 15.6872 15.1448 15.2497 15.0317L 14.9875 14.9639C 14.7209 14.895 14.5 14.6132 14.5 14.3361Z" transform="translate(11 9)" fill="white"/></g></g></g></g></svg>
   </div>
  <div class="info-activity">
    <div class="title-line">
      <span class="title-bold">{{title}}</span>
      <span class="title-red">{{notificationTime}}</span>
    </div>
    <div class="describe-line">
      <span *ngIf="describe">{{describe}}</span> 
      <svg width="4" height="4" viewBox="0 0 4 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Canvas" fill="none"><g id="Ellipse2"><circle cx="2" cy="2" r="2" /></g></g></svg>
      {{hashCode}}
    </div>
    <div class="date-line">{{date}}</div>
  </div>
 <activity-button></activity-button> 
 </div>
  