@import '~sass/styles';

.main-bar{
    border-bottom: $end-item-line;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    min-height: 64px;
}

.logo{
    padding: 12px 12px 10px 12px;
    display: inline-block;
    position: absolute;
}

.tabs{
    display: inline-block;
    position: relative;
    left: 25%;
}

one-tab-menu{
    display: inline-block;
    position: relative;
}

.right-icons{
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 44px;
    min-width: 140px;
    #alert-mail{
        fill: $author;
        position: absolute;
        left: 17px;
        top: -6px;
    }
    svg{
        margin-left: 10px;
        margin-right: 1.5%;
        display: inline-block;
    }
}

.avatar{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    left: 90%;
    position: absolute;
    top: -8px;
}