<div class="one-item">
  <div class="completed-image">
      <svg *ngIf="!(item.completed)" width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Canvas" fill="none"><g id="Tick2"><path fill-rule="evenodd" clip-rule="evenodd" d="M 10 20C 4.47715 20 0 15.5228 0 10C 0 4.47715 4.47715 0 10 0C 15.5228 0 20 4.47715 20 10C 20 15.5228 15.5228 20 10 20ZM 10 18C 14.4183 18 18 14.4183 18 10C 18 5.58172 14.4183 2 10 2C 5.58172 2 2 5.58172 2 10C 2 14.4183 5.58172 18 10 18ZM 7.79289 13.7071L 4.79289 10.7071C 4.40237 10.3166 4.40237 9.68342 4.79289 9.29289C 5.18342 8.90237 5.81658 8.90237 6.20711 9.29289L 8.5 11.5999L 13.2929 6.79289C 13.6834 6.40237 14.3166 6.40237 14.7071 6.79289C 15.0976 7.18342 15.0976 7.81658 14.7071 8.20711L 9.20711 13.7071C 8.81658 14.0976 8.18342 14.0976 7.79289 13.7071Z" /></g></g></svg>
      <svg *ngIf="item.completed" width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Canvas" fill="none"><g id="Tick"><path fill-rule="evenodd" clip-rule="evenodd" d="M 10 20C 4.47715 20 0 15.5228 0 10C 0 4.47715 4.47715 0 10 0C 15.5228 0 20 4.47715 20 10C 20 15.5228 15.5228 20 10 20ZM 10 18C 14.4183 18 18 14.4183 18 10C 18 5.58172 14.4183 2 10 2C 5.58172 2 2 5.58172 2 10C 2 14.4183 5.58172 18 10 18ZM 7.79289 13.7071L 4.79289 10.7071C 4.40237 10.3166 4.40237 9.68342 4.79289 9.29289C 5.18342 8.90237 5.81658 8.90237 6.20711 9.29289L 8.5 11.5999L 13.2929 6.79289C 13.6834 6.40237 14.3166 6.40237 14.7071 6.79289C 15.0976 7.18342 15.0976 7.81658 14.7071 8.20711L 9.20711 13.7071C 8.81658 14.0976 8.18342 14.0976 7.79289 13.7071Z" /></g></g></svg>
  </div>
  <div class="information">
    <div class="title">{{item.todo}}</div>
    <div class="description">{{item.desc}}</div>
  </div>
  <div class="tags">
    <div class="info" *ngIf="!(item.state=='High Price')">{{item.info}}</div>
    <div class="info-red" *ngIf="item.state=='High Price'">{{item.info}}</div>
    <div class="state-hight" *ngIf="item.state=='High Price'"> {{item.state}} </div>
    <div class="state-medium" *ngIf="item.state=='Medium'">{{item.state}}</div>
    <div class="state-final" *ngIf="item.state=='Final'">{{item.state}}</div>
  </div>
  <img class="avatar" src="{{avatarUrl}}">
</div>
