@import '~sass/styles';

.one-item{
    border-top: $end-item-line;
    padding: 8.7px 15px 5.48px 9px;
    position: relative;
    .completed-image, .information, .tags{
        display: inline-block;
    }
    .tags{
        margin: 0 2.8% 10px 0;
        .info, .info-red{
            color:$black-light;
            font-family: $first-font;
            font-size: 11px;
            line-height: 13px;
            margin: 2px 0px 6px 25px;
            &-red{
                color:$important;
            }
        
        }
        @include states;
    }
    .avatar{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
    }
    .information{
        .title{
            color: $black-light;
            font-family: $first-font;
            font-size: 12px;
            line-height: 14px;
        }
        .description{
            color: $dark-cream;
            font-family: $first-font;
            font-size: 10px;
            line-height: 12px;
        }
    }
    .completed-image{
        svg #Canvas {
            #Tick{
                fill: $eazy-lemon;
            }
            #Tick2{
                fill: $dirty-white;
            }
        }
    }
}

@media screen and (max-width: ($tablet-resolution)-1px){
    .information{
        max-width: 55%;
        left: 23px;
        position: inherit;
    }

    .tags{
        position: absolute;
        top: 3px;
        left: 55%;
    }

    .completed-image{
        position: absolute;
        top: 10px;
    }
}