<div class="one-activity-component">
  <div class="icon-activity">        
      <svg  width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Canvas" fill="none"><g id="Group"><g id="Group_2"><g id="Ellipse 4"><circle cx="20" cy="20" r="20" fill="#DB5FFC"/> </g></g><g id="Text Document"><g id="Combined Shape"><path fill-rule="evenodd" clip-rule="evenodd" d="M 6.29999 1.79999L 1.79591 1.79999L 1.79999 16.2L 12.5981 16.2C 12.5981 16.2 12.6001 10.9545 12.6 8.09999L 7.19999 8.09999C 6.70293 8.09999 6.29999 7.69704 6.29999 7.19999L 6.29999 1.79999ZM 8.1 6.29999L 12.6 6.29999L 8.1 1.79999L 8.1 6.29999ZM 1.79592 0L 8.37251 0C 8.62083 0 8.96562 0.14354 9.138 0.31599L 14.0841 5.26397C 14.2586 5.43848 14.4 5.78517 14.4 6.02933L 14.4 16.2007C 14.4 17.1944 13.5949 18 12.5981 18L 1.80192 18C 0.806745 18 0 17.1916 0 16.2L 0 1.80001C 0 0.805893 0.806293 0 1.79592 0ZM 2.7 13.5C 2.7 13.0029 3.1042 12.6 3.59586 12.6L 10.8041 12.6C 11.2989 12.6 11.7 12.9995 11.7 13.5C 11.7 13.997 11.2958 14.4 10.8041 14.4L 3.59586 14.4C 3.10109 14.4 2.7 14.0005 2.7 13.5ZM 2.7 10.8C 2.7 10.303 3.10588 9.90002 3.60384 9.90002L 7.19616 9.90002C 7.69534 9.90002 8.1 10.2995 8.1 10.8C 8.1 11.2971 7.69412 11.7 7.19616 11.7L 3.60384 11.7C 3.10466 11.7 2.7 11.3005 2.7 10.8Z" transform="translate(13 11)" fill="white"/></g></g></g></g></svg>
  </div>
  <div class="info-activity">
    <div class="title-line">
      <span class="title">{{title}}</span>
    </div>
    <div class="describe-line">
      <span *ngIf="describe">{{describe}}</span> 
      <svg width="4" height="4" viewBox="0 0 4 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Canvas" fill="none"><g id="Ellipse2"><circle cx="2" cy="2" r="2" /></g></g></svg>
      {{hashCode}}
    </div>
    <div class="date-line">{{date}}</div>
    <div class="view-link">
      <div class="icon">
        <svg width="6" height="12" viewBox="0 0 6 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Canvas" fill="none"> <g id="Attachment"> <g id="Combined Shape"> <path d="M 3.84733 6.82266C 3.66311 7.00688 3.36257 7.00688 3.17782 6.82213C 2.99317 6.63748 2.99293 6.33698 3.17729 6.15262L 5.52295 3.80696C 5.70797 3.62194 5.70797 3.32195 5.52295 3.13692C 5.33792 2.9519 5.03794 2.9519 4.85291 3.13692L 2.50725 5.48258C 1.95261 6.03723 1.95332 6.9377 2.50778 7.49216C 3.06259 8.04697 3.96309 8.04696 4.51736 7.49269L 6.19299 5.81707L 8.37032 3.63974C 9.20268 2.80738 9.20232 1.456 8.3706 0.624287C 7.53804 -0.208275 6.18774 -0.208013 5.35515 0.624576L 3.17782 2.80191L 0.83269 5.14704C -0.277526 6.25725 -0.277601 8.05696 0.832692 9.16726C 1.94295 10.2775 3.74252 10.2776 4.85291 9.16726L 7.86808 6.15209C 8.0531 5.96706 8.0531 5.66708 7.86808 5.48205C 7.68305 5.29703 7.38307 5.29703 7.19804 5.48205L 4.18287 8.49722C 3.44256 9.23754 2.24296 9.23745 1.50273 8.49722C 0.762499 7.75699 0.762549 6.55725 1.50273 5.81707L 3.84786 3.47194L 6.02519 1.29461C 6.48778 0.832017 7.23812 0.831872 7.70057 1.29432C 8.16231 1.75606 8.16251 2.50748 7.70028 2.9697L 5.52295 5.14704L 3.84733 6.82266Z" transform="matrix(0.707107 -0.707107 0.707107 0.707107 -4 5.63208)" fill="#AFB8BF"/> </g> </g> </g> </svg>
      </div>
      <div class="text">View Contract</div>
    </div>
    <div class="sign-link">
      <div class="icon">
        <svg width="11" height="10" viewBox="0 0 11 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Canvas" fill="none"><g id="Edit Note"><g id="Combined Shape"><path fill-rule="evenodd" clip-rule="evenodd" d="M 0 9.49656C 0 9.21851 0.224428 8.9931 0.502779 8.9931L 9.56644 8.9931C 9.84411 8.9931 10.0692 9.21657 10.0692 9.49656C 10.0692 9.77462 9.84479 10 9.56644 10L 0.502779 10C 0.225102 10 0 9.77656 0 9.49656ZM 8.99358 0.293671L 9.70706 1.00716C 10.0999 1.39997 10.0999 2.03686 9.70556 2.43117L 4.72231 7.41442L 2.84813 7.88471C 2.30836 8.02015 1.98102 7.69064 2.11603 7.1526L 2.58631 5.27842L 7.56956 0.295172C 7.9632 -0.0984744 8.6021 -0.0978062 8.99358 0.293671ZM 4.54431 6.16846L 3.83258 5.45673L 3.49561 5.79363L 3.25932 6.74145L 4.20301 6.50976L 4.54431 6.16846ZM 7.92556 2.78717L 7.21358 2.07367L 4.54462 4.74472L 5.25632 5.45642L 7.92556 2.78717Z" fill="#00D290"/></g> </g> </g> </svg>
      </div>
      <div class="text">Sign Contract</div>
    </div>
  </div>
 <activity-button></activity-button> 
 </div>
  