@import "../one-activity/one-activity.component";

.view-link{
    @include link;
    color: $dark-cream;
}

.sign-link{
    @include link;
    color: $eazy-lemon;
    left: 60px;
}

.one-activity-component{
    padding-bottom: 35px;
}