@mixin link{
    display: inline-block;
    position: relative;
    top: -10px;
    .text{
        position: absolute;
    font-family: $first-font;
    text-decoration: underline;
    font-size: 11px;
    line-height: 13px;
    width: 40px;
    left: 13px;
    top: 4px;
    }
    .icon{
        clear: both;
        position: absolute;
    }
   }

@mixin states{
    @each $tuple in $states {
        .state-#{nth($tuple, 1)} {
            color: #FFFFFF;
            font-size: 9px;
            line-height: 11px;
            font-family: $first-font;
            margin-left: 25px;
            background-color: nth($tuple, 2);
            border-radius: 10px;
            width: fit-content;
            padding: 1px 5px 1px 5px;
        }
    }
}