@import url('https://fonts.googleapis.com/css?family=Actor');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600');

$important: #FF5560;
$medium-priority: #FFC100;
$final-status: #00B77E;
$black-light: #383838;

$author: #4C84FF;
$dark-cream: #8F99A1;
$eazy-lemon: #00D290;
$main-frame: #C2CCD1;
$dirty-white: #AFB8BF;
$money: #00CEC1;
$main-background: #FCFCFC;

$first-font: 'Actor';
$second-font: 'Muli';
$second-font-semibold: 'Muli';

$states: 'hight' $important, 'medium' $medium-priority, 'final' $final-status;
$end-item-line: 0.5px solid $main-frame;

$tablet-resolution: 768px;
$desktop-resolution: 1280px;
