<div class="one-tab-menu" *ngIf="!clicked">
  {{label}}
</div>
<div class="one-tab-menu-clicked" *ngIf="clicked">
  {{label}}
</div>
<div class="notification" *ngIf="notify">
  <svg width="6" height="6" viewBox="0 0 6 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Canvas" fill="none">
      <g id="Ellipse3">
        <circle cx="3" cy="3" r="3" />
      </g>
    </g>
  </svg>
</div>