@import '~sass/styles';

.one-tab-menu, .one-tab-menu-clicked{
    padding: 25px 10% 19px 10%; 
    align-content: center;
    font-family: $first-font;
    font-size: 13px;
    &-clicked{
        border-bottom: 4px solid $eazy-lemon;
        font-weight: 600;
        font-family: $second-font-semibold;
    }
}
.notification{
    position: absolute;
    right: -1px;
    top: 15px;
    svg #Canvas #Ellipse3{
        fill: $important;
    }
}

@media screen and (max-width: ($tablet-resolution)-1px){
    .one-tab-menu{
        display: none;
        padding: 50px 10% 19px 10%; 
    }

    .notification{
        display: none;
    }
}

@media screen and (max-width: 399px){
    .one-tab-menu-clicked{
        display: none;
    }
}