@import '~sass/styles';

.homebuilder{
    border: 1px solid $main-frame;
    border-radius: 2px;
    .manage-bar{
        position: relative;
        padding: 6px 7.33px 9.3px 7px;
    }
    .add-button{
        padding: 6px 20px 6px 20px;
        text-align: center;
        background-color: #FFFFFF;
        border: 1px solid $eazy-lemon;
        border-radius: 1px;
        color: $eazy-lemon;
        font-family: $first-font;
        font-size: 12px;
        line-height: 14px;
        display: inline-block;
    }
    .search-menu{
        color: $dark-cream;
        font-family: $first-font;
        font-size: 13px;
        line-height: 16px;
        display: inline-block;
        right: 20%;
        top: 30%;
        position: absolute;
    }
    .empty-place-item{
        display: block;
        height: 54px;
        border-top: $end-item-line;
    }
    .show-menu-button{
        display: inline-block;
        right: 7%;
        position: absolute;
        margin: 3px 0 9px 4%; 
    } 

    svg #Canvas #Vector{
        stroke: $dirty-white;
    }
}