<div class="homebuilder">
  <div class="manage-bar">
    <button class="add-button" onclick="addNewTODO()">Add Items</button>
    <div class="search-menu">Search</div>
    <div class="show-menu-button">
      <svg width="9" height="6" viewBox="0 0 9 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">    <g id="Canvas" fill="none">    <g id="Vector">    <path d="M 0 0L 3.33333 4L 6.66667 0" stroke-linecap="round" stroke-linejoin="round" transform="translate(1 1)"/>    </g>  </g></svg>
    </div>
  </div>
  <div class="TODO-items">
    <div *ngFor="let item of items">
      <one-TODO-item [item]="item" (click)="changeComplitedTaskStatus(item)"></one-TODO-item>
    </div>
    <div class="none-items" *ngIf="items && items.length == 0">
      Empty list of items! 
    </div>
  </div>
  <div class="empty-place-item" *ngFor="let i of positions"></div>
</div>
