<div class="one-activity-component">
    <div class="icon-activity">
      <img class="avatar" *ngIf="avatarUrl && author" src="{{avatarUrl}}">
      <!-- <svg *ngIf="avatarUrl && author" width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Canvas" fill="none"> <g id="image-13"> <rect width="55.5556" height="55.5556" transform="translate(-8.88889 0)" fill="url(#pattern0)"/> </g> </g> <defs><pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1"><use attr.xlink:href="{{avatarUrl}}" transform="scale(0.0128205)"/></pattern><image width="78" height="78" [attr.href]="avatarUrl" /></defs></svg> -->
        
      <svg *ngIf="type==typeActivity.NOTIFICATION" width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Canvas" fill="none"><g id="Group"> <g id="Ellipse 4"><circle cx="20" cy="20" r="20" fill="#FF5560"/> </g><g id="Bell"> <g id="Combined Shape"><path fill-rule="evenodd" clip-rule="evenodd" d="M 3.00213 19C 1.34494 19 0 17.6554 0 16C 0 14.9012 0.594918 13.9219 1.50422 13.3989C 1.50422 13.0954 1.5 9.49859 1.5 9.49859C 1.5 6.0431 3.8197 3.13386 7 2.26473C 7 2.26473 7 2.08975 7 2C 7 0.89543 7.89543 0 9 0C 10.1046 0 11 0.89543 11 2C 11 2.0897 11 2.26473 11 2.26473C 14.181 3.13368 16.5 6.04318 16.5 9.5038L 16.5 13.4076C 17.4104 13.9331 18 14.9084 18 16C 18 17.6576 16.657 19 14.9979 19L 12 19C 11.9983 20.6571 10.6524 22 9 22C 7.34315 22 6 20.6582 6 19.0021L 3.00213 19ZM 8 19C 8 19.5532 8.44721 20 9 20C 9.54892 20 9.9983 19.5515 10 19L 8 19ZM 14.5 14.3361L 14.5 9.5038C 14.5 6.46073 12.0394 4 9 4C 5.96189 4 3.5 6.46156 3.5 9.49859L 3.5 14.3361C 3.5 14.6158 3.28524 14.8937 3.02032 14.9619L 2.74931 15.0317C 2.3115 15.1444 2 15.5409 2 16C 2 16.5507 2.44938 17 3.00213 17L 14.9979 17C 15.5526 17 16 16.5528 16 16C 16 15.5429 15.6872 15.1448 15.2497 15.0317L 14.9875 14.9639C 14.7209 14.895 14.5 14.6132 14.5 14.3361Z" transform="translate(11 9)" fill="white"/></g></g></g></g></svg>
      <svg *ngIf="type==typeActivity.FINANCIAL"  width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Canvas" fill="none">
        <g id="Ellipse 4">
        <circle cx="20" cy="20" r="20" fill="#00CEC1"/>
        <g id="shape">
            <svg width="30" height="30" viewBox="-10 0 35 10" version="1.1" margin="auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g><path fill-rule="evenodd" clip-rule="evenodd" d="M 19 13.3864C 19 16.9637 16.1 19.8636 12.5227 19.8636C 10.3242 19.8636 8.38153 18.7683 7.2106 17.0936L 6.04814 16.5124L 4.70565 17.1815C 4.46255 17.3031 4.17636 17.3032 3.93319 17.1816L 2.59336 16.5121L 1.24987 17.1816C 0.675634 17.4687 0 17.0511 0 16.4091L 0 1.72715C 0 0.772499 0.771431 0 1.72803 0L 13.8174 0C 14.772 0 15.5455 0.771182 15.5455 1.72715L 15.5455 7.65618C 17.6 8.74219 19 10.9008 19 13.3864ZM 13.8174 1.72724L 1.72727 1.72711L 1.72727 15.0104L 2.20468 14.773C 2.44775 14.6514 2.73385 14.6514 2.97695 14.7729L 4.32683 15.4465L 5.65904 14.7731C 5.82108 14.692 6.00226 14.6649 6.17708 14.6919C 6.09078 14.2702 6.04545 13.8335 6.04545 13.3863C 6.04545 12.9427 6.09006 12.5094 6.17502 12.0909L 4.31855 12.0909C 3.84137 12.0909 3.45454 11.7075 3.45454 11.2272C 3.45454 10.7503 3.84388 10.3636 4.31855 10.3636L 6.79254 10.3636C 7.87856 8.3091 10.0371 6.90906 12.5227 6.90906C 12.9671 6.90906 13.401 6.9538 13.8202 7.03904C 13.8193 4.21586 13.8174 1.72724 13.8174 1.72724ZM 3.45454 7.77276C 3.45454 7.29578 3.83744 6.90912 4.31736 6.90912L 6.04627 6.90912C 6.52279 6.90912 6.90909 7.29246 6.90909 7.77276C 6.90909 8.24973 6.52619 8.63639 6.04627 8.63639L 4.31736 8.63639C 3.84084 8.63639 3.45454 8.25305 3.45454 7.77276ZM 3.45454 4.31817C 3.45454 3.84119 3.84241 3.45453 4.31421 3.45453L 11.2312 3.45453C 11.706 3.45453 12.0909 3.83787 12.0909 4.31817C 12.0909 4.79514 11.703 5.1818 11.2312 5.1818L 4.31421 5.1818C 3.83943 5.1818 3.45454 4.79846 3.45454 4.31817ZM 12.5227 18.1364C 15.1461 18.1364 17.2727 16.0097 17.2727 13.3864C 17.2727 10.763 15.1461 8.63635 12.5227 8.63635C 9.89937 8.63635 7.77273 10.763 7.77273 13.3864C 7.77273 16.0097 9.89937 18.1364 12.5227 18.1364ZM 11.0484 16.1561L 9.32131 14.4289C 8.98406 14.0916 8.98409 13.5447 9.32138 13.2075C 9.65868 12.8702 10.2055 12.8703 10.5428 13.2076L 11.6692 14.3341L 14.503 11.4802C 14.8402 11.143 15.387 11.143 15.7243 11.4802C 16.0616 11.8175 16.0616 12.3643 15.7243 12.7016L 12.2698 16.1562C 11.9325 16.4934 11.3856 16.4934 11.0484 16.1561Z" fill="red"/>
        </g> </svg></g>
        </g>
    </g>
        </svg>
              
        <svg *ngIf="type==typeActivity.DOCUMENTS" width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Canvas" fill="none"><g id="Group"><g id="Group_2"><g id="Ellipse 4"><circle cx="20" cy="20" r="20" fill="#DB5FFC"/> </g></g><g id="Text Document"><g id="Combined Shape"><path fill-rule="evenodd" clip-rule="evenodd" d="M 6.29999 1.79999L 1.79591 1.79999L 1.79999 16.2L 12.5981 16.2C 12.5981 16.2 12.6001 10.9545 12.6 8.09999L 7.19999 8.09999C 6.70293 8.09999 6.29999 7.69704 6.29999 7.19999L 6.29999 1.79999ZM 8.1 6.29999L 12.6 6.29999L 8.1 1.79999L 8.1 6.29999ZM 1.79592 0L 8.37251 0C 8.62083 0 8.96562 0.14354 9.138 0.31599L 14.0841 5.26397C 14.2586 5.43848 14.4 5.78517 14.4 6.02933L 14.4 16.2007C 14.4 17.1944 13.5949 18 12.5981 18L 1.80192 18C 0.806745 18 0 17.1916 0 16.2L 0 1.80001C 0 0.805893 0.806293 0 1.79592 0ZM 2.7 13.5C 2.7 13.0029 3.1042 12.6 3.59586 12.6L 10.8041 12.6C 11.2989 12.6 11.7 12.9995 11.7 13.5C 11.7 13.997 11.2958 14.4 10.8041 14.4L 3.59586 14.4C 3.10109 14.4 2.7 14.0005 2.7 13.5ZM 2.7 10.8C 2.7 10.303 3.10588 9.90002 3.60384 9.90002L 7.19616 9.90002C 7.69534 9.90002 8.1 10.2995 8.1 10.8C 8.1 11.2971 7.69412 11.7 7.19616 11.7L 3.60384 11.7C 3.10466 11.7 2.7 11.3005 2.7 10.8Z" transform="translate(13 11)" fill="white"/></g></g></g></g></svg>
    </div>
    <div class="info-activity">
      <div class="title-line">
        <span *ngIf="author" class="author">{{author}}</span>
        <span *ngIf="type==typeActivity.NOTIFICATION || type==typeActivity.INDIVIDUAL_PERSON" class="title-bold">{{title}}</span>
        <span *ngIf="type!=typeActivity.NOTIFICATION && type!=typeActivity.INDIVIDUAL_PERSON" class="title">{{title}}</span>
      </div>
      <div class="describe-line">
        <span *ngIf="describe">{{describe}}</span> 
        <svg width="4" height="4" viewBox="0 0 4 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Canvas" fill="none"><g id="Ellipse2"><circle cx="2" cy="2" r="2" /></g></g></svg>
        {{hashCode}}
      </div>
      <div class="date-line">{{date}}</div>
      <div class="photos">
        <div class="photo" *ngFor="let photo of photoNames">
          <img src="{{photo}}">
        </div>
        <div class="more-photos">
          View All Photos
        </div>
      </div>
    </div>
   <activity-button></activity-button> 
   </div>
    