@import '~sass/styles';
@import '../one-activity/one-activity.component';
$width-image: 110;

.more-photos{
    font-size: 11px;
    font-family:  $second-font-semibold;
    font-weight: 600;
    color: $dark-cream;
    text-decoration: underline;
    position: relative;
}

.photo{
    width: ($width-image)*1px;
    height: ($width-image / 2 )*1px;
    overflow: hidden; 
    margin: 10px 10px 16px 0;
    display: inline-block;
    img{
        margin: -8% 0 0 -20%;
        width: 135px;
        height: 90px;
    }
}