<div class="one-activity-component">
  <div class="icon-activity">
    <img class="avatar" src="{{avatarUrl}}">      
 </div>
  <div class="info-activity">
    <div class="title-line">
      <span *ngIf="author" class="author">{{author}}</span>
      <span class="title-bold">{{title}}</span>
    </div>
    <div class="describe-line">
      <span *ngIf="describe">{{describe}}</span> 
      <svg width="4" height="4" viewBox="0 0 4 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Canvas" fill="none"><g id="Ellipse2"><circle cx="2" cy="2" r="2" /></g></g></svg>
      {{hashCode}}
    </div>
    <div class="date-line">{{date}}</div>
  </div>
 <activity-button></activity-button> 
 </div>
  