@import '~sass/styles';

.dashboard{
    background-color: $main-background;
    padding-top: 28px;
}

.title{
    font-family: $second-font;
    font-size: 18px;
    line-height: 21px;
    color: $black-light;
    margin-bottom: 13px;
}

@media screen and (min-width: $desktop-resolution){
.activity, .homebuilder{
    display: inline-block;
}

.homebuilder{
    min-width: 370px;
    position: absolute;
    margin-left: 7%;
    width: 30%;
}

.activity{
    min-width: 615px;
    margin-left: 10%;
    width: 40%;
}
}

@media screen and (min-width: $tablet-resolution) and (max-width: ($desktop-resolution)-1px){
    .activity, .homebuilder{
        .title{
            margin-top: 30px;
        }
    }
    
    .homebuilder{
        margin: 0 25%;
    }
    
    .activity{
        margin: 0 5%;
        min-width: 615px;
    }
    }

@media screen and (max-width: ($tablet-resolution)-1px){
    .activity, .homebuilder{
        .title{
            margin-top: 30px;
        }
    }
    
    .homebuilder{
        margin: 0 1%;
        max-width: 560px;
    }
    
    .activity{
        margin: 0 0.5%;
        }
    }
