<app-main-bar></app-main-bar>
<div class="dashboard">
    <div class="activity">
        <div class="title">
            Activity
        </div>
        <app-activity></app-activity>
    </div>

    <div class="homebuilder">
        <div class="title">
            Homebuilder
        </div>
        <app-homebuilder></app-homebuilder>
    </div>
</div>