<div class="one-activity-component">
  <div class="icon-activity">
      <svg width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Canvas" fill="none"><g id="Ellipse4"><circle cx="20" cy="20" r="20" /><g id="shape">    <svg width="30" height="30" viewBox="-12 3 30 3" version="1.1" margin="auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M 19 13.3864C 19 16.9637 16.1 19.8636 12.5227 19.8636C 10.3242 19.8636 8.38153 18.7683 7.2106 17.0936L 6.04814 16.5124L 4.70565 17.1815C 4.46255 17.3031 4.17636 17.3032 3.93319 17.1816L 2.59336 16.5121L 1.24987 17.1816C 0.675634 17.4687 0 17.0511 0 16.4091L 0 1.72715C 0 0.772499 0.771431 0 1.72803 0L 13.8174 0C 14.772 0 15.5455 0.771182 15.5455 1.72715L 15.5455 7.65618C 17.6 8.74219 19 10.9008 19 13.3864ZM 13.8174 1.72724L 1.72727 1.72711L 1.72727 15.0104L 2.20468 14.773C 2.44775 14.6514 2.73385 14.6514 2.97695 14.7729L 4.32683 15.4465L 5.65904 14.7731C 5.82108 14.692 6.00226 14.6649 6.17708 14.6919C 6.09078 14.2702 6.04545 13.8335 6.04545 13.3863C 6.04545 12.9427 6.09006 12.5094 6.17502 12.0909L 4.31855 12.0909C 3.84137 12.0909 3.45454 11.7075 3.45454 11.2272C 3.45454 10.7503 3.84388 10.3636 4.31855 10.3636L 6.79254 10.3636C 7.87856 8.3091 10.0371 6.90906 12.5227 6.90906C 12.9671 6.90906 13.401 6.9538 13.8202 7.03904C 13.8193 4.21586 13.8174 1.72724 13.8174 1.72724ZM 3.45454 7.77276C 3.45454 7.29578 3.83744 6.90912 4.31736 6.90912L 6.04627 6.90912C 6.52279 6.90912 6.90909 7.29246 6.90909 7.77276C 6.90909 8.24973 6.52619 8.63639 6.04627 8.63639L 4.31736 8.63639C 3.84084 8.63639 3.45454 8.25305 3.45454 7.77276ZM 3.45454 4.31817C 3.45454 3.84119 3.84241 3.45453 4.31421 3.45453L 11.2312 3.45453C 11.706 3.45453 12.0909 3.83787 12.0909 4.31817C 12.0909 4.79514 11.703 5.1818 11.2312 5.1818L 4.31421 5.1818C 3.83943 5.1818 3.45454 4.79846 3.45454 4.31817ZM 12.5227 18.1364C 15.1461 18.1364 17.2727 16.0097 17.2727 13.3864C 17.2727 10.763 15.1461 8.63635 12.5227 8.63635C 9.89937 8.63635 7.77273 10.763 7.77273 13.3864C 7.77273 16.0097 9.89937 18.1364 12.5227 18.1364ZM 11.0484 16.1561L 9.32131 14.4289C 8.98406 14.0916 8.98409 13.5447 9.32138 13.2075C 9.65868 12.8702 10.2055 12.8703 10.5428 13.2076L 11.6692 14.3341L 14.503 11.4802C 14.8402 11.143 15.387 11.143 15.7243 11.4802C 16.0616 11.8175 16.0616 12.3643 15.7243 12.7016L 12.2698 16.1562C 11.9325 16.4934 11.3856 16.4934 11.0484 16.1561Z" fill=white/></g> </svg></g></g>
    </g>
        </svg>
  </div>
  <div class="info-activity">
    <div class="title-line">
      <span class="title">{{title}}</span>
    </div>
    <div class="describe-line">
      <span *ngIf="describe">{{describe}}</span> 
      <svg width="4" height="4" viewBox="0 0 4 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Canvas" fill="none"><g id="Ellipse2"><circle cx="2" cy="2" r="2" /></g></g></svg>
      {{hashCode}}
    </div>
    <div class="date-line">{{date}}</div>
  </div>
 <activity-button></activity-button> 
 </div>
  