@import '~sass/styles';

.button{
    position: absolute;
    right: 22px;
    bottom: 33%;

    &:hover {
        svg #Canvas #Plus{
            fill: $eazy-lemon;
    }
        .menu-button,#triangle{
            display: block;
        }
    }

    #triangle{
        display: none;
        top: 18px;
        position: absolute;
        left: 5px;
    }
    svg #Canvas {
        #Plus, #Ellipse2,#Chat1 #Shape ,#Chat2 #Shape, #Calendar #Shape{
            fill: $dirty-white;
        }
    }
    .menu-button{
        display: none;
        position: absolute;
        border: $end-item-line;
        border-radius: 4px;
        background-color: #FFFFFF;
        z-index: 10;
        min-width: 75px;
        padding-left: 7px;
        left: -26px;
        top: 22px;
    }
    .menu-icon{
        float: left;
        margin-right: 7.69px;
    }
    .menu-text{
        color: $black-light;
        font-family: $first-font;
        font-size: 10px;
        line-height: 12px;
    }
}