<div class="activity-component">
  <div class="input-search">
      <svg width="17" height="13" viewBox="0 0 17 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Canvas" fill="none"><g id="Combined Shape"><path fill-rule="evenodd" clip-rule="evenodd" d="M 13.7877 12.7556C 14.0714 13.0393 14.0724 13.4984 13.7854 13.7854C 13.5004 14.0704 13.0398 14.0719 12.7556 13.7877L 8.79354 9.82565C 7.87267 10.5292 6.72192 10.9471 5.47356 10.9471C 2.45059 10.9471 0 8.49652 0 5.47356C 0 2.45059 2.45059 0 5.47356 0C 8.49652 0 10.9471 2.45059 10.9471 5.47356C 10.9471 6.72192 10.5292 7.87267 9.82564 8.79354L 13.7877 12.7556ZM 5.47357 9.48749C 7.6904 9.48749 9.48751 7.69039 9.48751 5.47355C 9.48751 3.25671 7.6904 1.45961 5.47357 1.45961C 3.25673 1.45961 1.45962 3.25671 1.45962 5.47355C 1.45962 7.69039 3.25673 9.48749 5.47357 9.48749Z" transform="matrix(0.982919 -0.184041 0.184041 0.982919 0 1.57668)" fill="#8F99A1"/></g></g></svg>
      
      <input type="text" placeholder=Search>
        
  </div>
  <one-activity-photos author='John R. Doe' title='Uploaded Photos' describe='365 Boyer Circle, Lafayette' hashCode='#DE80090' date='Today at 1:22pm' avatarUrl='John.png'></one-activity-photos>
  <one-activity-notification title='Survey Due' notificationTime='Tomorrow' describe='365 Boyer Circle, Lafayette' hashCode='#DE80090' date='Today at 10:22am'></one-activity-notification>
  <one-activity-individual author='Layla R. Hue' title='Scheduled Site Visit November 10, 2017, 10:15am' describe='365 Boyer Circle, Lafayette' hashCode='#DE80090' date='Yesterday at 8:30am' avatarUrl='Layla.png'></one-activity-individual>
  <one-activity-payment title='Deposit Invoice Paid $2,500.00' hashCode='#DE70923' date='Yesterday at 6:00am'></one-activity-payment>
  <one-activity-document title='Conrtact Signed' describe='200 Simpson Dr., Berkeley' hashCode='#DE70923' date='September 20, 2017 at 2:00pm'></one-activity-document>
</div>