@import '~sass/styles';

.activity-component{
    border: 1px solid $main-frame;
    border-radius: 2px;
    // max-width: 707px;
    .input-search {
        padding: 13px 6.5px 11.5px 24px;
    input{
        font-family: $second-font;
        font-size: 13px;
        line-height: 15px;
        color: $dirty-white;
        border: none;
        }
    }
}