@import '~sass/styles';

.one-activity-component{
    border-top: 1px solid $main-frame;
    position: relative;
    padding: 11px 40px 13px 0;
    .icon-activity{
        float: left;
        margin: 5px 10px 0 25px;
    }

    .avatar{
        border-radius: 50%;
        width: 44px;
        height: 44px;
    }

    .info-activity, activity-button{
        display: inline-block;
    }

    @media screen and (max-width: ($tablet-resolution)-1px){
        .info-activity{
            display: table;
        }
    }

    .title-line{
        .author{
            color: $author;
            font-family: $second-font-semibold;
            font-size: 13px;
            line-height: normal;
            font-weight: 600;
           }
        .title-bold{
            color: $black-light;
            font-family: $second-font-semibold;
            font-size: 13px;
            line-height: 15px;
            font-weight: 600;
        }
        .title{
            color: $black-light;
            font-family: $first-font;
            font-size: 13px;
            line-height: 16px;
            max-width: 186px;
        }
        
        .title-red{
            color: $important;
            font-family: $second-font-semibold;
            font-size: 13px;
            line-height: 15px;
            font-weight: 600;
        }
    }

    .describe-line{
        color: $black-light;
        font-family: $second-font;
        font-size: 12px;
        svg {
            position: relative;
            top: -2px;
            #Canvas #Ellipse2{
             fill: $dirty-white;
            }
        }
    }

    .date-line{
        color: $dark-cream;
        font-family: $second-font;
        font-size: 11px;
        line-height: 13px;
    }
}